html{margin: 20px 0;}
body{
    width: 774px;
    margin: 0;
    padding: 10px;
    font-size: 12px;
  }
img{
    max-width: 100%;
} 
.clear-both{
    clear: both;
}
.text-center{
    text-align: center;
}
table{
    width: 100%;
    border: 1px solid #858282;
    border-spacing: 0;
}
table td{
    border: 1px solid #858282;
    font-size: 12px;
    padding: 5px;
  }
  .left{
    display: inline-block; 
    width: 425px;
  }
  .header .left img{
    max-width: 100px;
} 
.header .left > div{
    margin-top: 5px;
}
.right{
    margin-top: 30px;
    display: inline-block; 
    width: 344px;
  }
.table-content{
    margin-top: 20px;
}
.table-content label{
    display: block;
    font-weight: bold;
}

/*  */
.d-block {
  display: block;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}


.additional-info span {
  padding: 3px 0;
}
.empty-sign {
  min-height: 50px;
}
.additional-info > div span{
    display: inline-block;
    width: 49%;
}
.additional-info span.w-20{
  width: 20%;
}
.additional-info span.w-80{
  width: 78%;
}
.additional-info > div .text-right{
    text-align: right;
}
.d-bl{
  display: block;
}
.d-il{
  display: inline-block;
}
.m-t100{
  margin-top: 100px;
}
.w-50{
  width: 48%;
}
.p-5{
  padding: 5px;
}
.b-l{ 
 border-left:none
}
.b-r{
  border-right: none;
}
.attachments img{
  width: auto;
  object-fit: contain;
  object-position: center;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}
@page{
    margin-top: 120px;
    margin-bottom:30px;
    margin-left: 10px;
    margin-right: 10px;
}
main{
    margin-top: 120px;
    margin-bottom:30px;
    margin-left: 0;
    margin-right: 0; 
}
main .page-2{
    margin-top: 120px;
    margin-bottom:30px;
    margin-left: 0;
    margin-right: 0;  
}

header {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 120px;
}

footer {
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    right: 0px;
    height: 30px; 
    color: #000;
    text-align: center;
}